@charset "UTF-8";
#navbar {
	font-family: Garamond;
	font-size: medium;
	font-weight: bold;
	text-decoration: underline;
	width: 100%;
	background-color: #000;
	display: block;
	height: 100%;
	float: left;
	clear: none;
}
#navbar ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
#navbar ul li {
	display: inline;
}
#navbar ul li a {
	font-family: Garamond;
	font-size: medium;
	color: #FFF;
	float: left;
	padding-right: 5px;
	list-style-type: none;
	padding-top: 3px;
	font-weight: bold;
	padding-left: 10px;
}
#navbar ul li a:hover {
	color: #FFD545;
}
